<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASCIIpie</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='pie.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    <span class="img-span" style="left: 20px;">
        <img src="{{ url_for('static', filename='pie.png') }}" alt=""/>
    </span>
    <span class="img-span" style="right: 20px;">
        <img src="{{ url_for('static', filename='asciipied.png') }}" alt=""/>
    </span>
    <h1>🥧 ASCIIpie 🥧</h1>
    <label for="file">
        <div id="upload-div">
            Upload your file here
        </div>
    </label>
    <div style="padding-bottom: 20px">
        <button id="btn-text">
            Text
        </button>
        <button id="btn-image">
            ASCIIpie
        </button>
    </div>
    <span>
        <img id="img" style="max-width: 95vw" alt="" src="">
        <label for="textarea">
            <textarea
                autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                style="display: none; resize: none; overflow: hidden;"
                id="textarea" cols="158" readonly
            ></textarea>
        </label>
    </span>

    <form id="upload" method="POST" action="/upload" enctype="multipart/form-data" hidden>
        <input type="file" name="file" id="file">
    </form>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>